*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
}

.header{
    background: #252323;
    color: white;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

.form-login {
    width:400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 300px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}


.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: aliceblue;
}

.buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header a {
    color: white;
    text-decoration: none;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    border-radius: 8px;
}

.navigation ul li a:hover {
    background: #4a4a4a;
}

.logo {
    letter-spacing: 5px;
    font-size: 1.3em;
}

.main {
    padding-top: 10rem;
}

.menu-icon {
    display: none;
}

.footer {
    background: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
    margin-top: 10rem;
}

@media only screen and (max-width: 767px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navigation {
        width: 100%;
        margin: 1rem;
    }

    .navigation ul{
        display: none;
    }

    .navigation ul.show {
        display: block;
    }
    
    .navigation ul li {
        display: block;
    }
    
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.3s linear;
        border-radius: 8px;
    }
    
    .navigation ul li a:hover {
        background: #4a4a4a;
    }